# dbt
target/
dbt-outputs/dbt_packages/
logs/
local_warehouse.duckdb
package-lock.yml
.user.yml
.env

# Python cache
__pycache__

# Python environments
.tox/
uv.lock

# Prefect tests using pytest
**/test-logs/*
!**/test-logs/.gitkeep